.services {
  background-color: #fff8f5;
  padding-block: 1rem;

  .service {
    margin-block: 2rem;
    .service-content {
      background-image: url('/background5.png');
      background-size: 9rem;
      background-repeat: no-repeat;

      .h3 {
        color: #43484e;
      }

      p {
        line-height: 1.86rem;
        color: rgba(67, 72, 78, 0.7);
        font-size: 14px;
      }
    }
    .service-image {
      object-fit: cover;
      height: 20rem;
      width: 100%;
    }
  }
}
