@import 'basic_styles';
@import 'variables';

.container {
  padding-inline: 1.5rem;
}

.cta-btn {
  border: 1px solid white;
  font-size: 11px;
  background: none;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  letter-spacing: 2px;
  text-align: center;
}

.cta-container {
  margin-block: 2rem;
  position: relative;
  border: 1px solid white;

  cursor: pointer;

  .cta-btn2 {
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    width: 175px;
    height: 60px;
  }
  .btn-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 2px;
    top: 0;
    z-index: 2;
  }

  .button-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #f59b90;
  }
}

.logo {
  height: 100%;
  img {
    height: 100%;
  }
}

.home {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    height: 4rem;
    display: flex;
    padding-block: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    .menu {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
  .nav-head {
    position: fixed;
    top: 0;
    left: -20rem;
    bottom: 0;
    width: 20rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .nav-items {
      padding: 3rem;
      li {
        height: 2.5rem;
        display: flex;
        align-items: center;
        .nav-item {
          cursor: pointer;
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .home-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (hover: hover) {
  .cta-btn {
    transition: border, color 0.5s;
    &:hover {
      border-color: #f59c90b2;
      color: #f59c90b2;
    }
  }
  .cta-container {
    transition: border 0.5s;

    .button-background {
      transition: width 0.5s;
    }

    &:hover .button-background {
      width: 100%;
    }
    &:hover {
      border-color: #f59c90b2;
    }
  }
}
