.form {
  background-color: white;
  padding-inline: 1rem;
  padding-block: 2.8rem;

  .form-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 0.4fr);
    grid-row-gap: 1rem;
  }
  .input {
    color: #43484e;
    background-color: #f7efec;
    border: solid 0.8px rgb(204, 204, 204);
    padding: 1rem;
    &::placeholder {
      opacity: 0.8;
    }
  }
  textarea::placeholder {
    color: #43484e;
    font-family: 'Roboto', sans-serif;
  }
  .submit-btn {
    height: 3rem;
    background-color: #a87e72;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    letter-spacing: 3.3px;
    padding-block: 1rem;
    font-size: 10px;
  }
}

.submitted {
  text-align: center;
}
